.login_hint{
    display: flex;
    justify-content: center;
}
.loginhint_inner{
    background-color: #1c1d206a;
    backdrop-filter: blur(8px);
    border-radius: 16px;
    padding: 1.4rem 2rem;
    /* box-shadow: 2px 2px 20px rgb(0 0 0 / 5%); */
    border: 2px solid #292b2f6a;
}
.buttons_callercontainer{
    margin-top: .8rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.trcaller{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: .2rem;
}
.complete{
    font-size: 18px;
    color: #ffffffd6;
}
.clgoicon{
    fill: currentColor;
    height: 15px;
    transition: .2s ease;
}
button:hover .clgoicon{
    transform: translateX(3px);
}
.loginhint_inner{
    margin-top: 2.2rem;
    margin-bottom: 2.2rem;
}
.clcionct{
    display: contents;
}
.grid_ctpl{
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerLDB{
    width: max-content;
    background-color: #1c1d206a;
    backdrop-filter: blur(8px);
    border-radius: 16px;
    border: 2px solid #292b2f6a;
    padding: 1rem 2rem;
}
.g_split-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn_icon svg{
    height: 18px;
    fill: currentColor;
}
.btn_icon{
    display: flex;
}
.sortBtn{
    background-color: transparent;
    color: #2563eb;
    font-weight: 500;
}
.sortBtn:hover{
    background-color: #2e2f30be;
}
.user_origincounty{
    border-radius: 50%;
    height: 20px;
}
.userTd{
    display: flex;
    align-items: center;
    column-gap: .4rem;
}
.g_split-2{
    margin-bottom: .9rem;
    padding-bottom: .6rem;
    border-bottom: 2px solid #292b2f6a;
}
.ldbcaller{
    font-size: 28px;
    font-weight: 600;
}
th{
    font-weight: 500;
    font-size: 17px;
    width: max-content;
    word-break: keep-all;
    margin: 0 .3rem;
}
td:not(.not_right), th:not(.not_right){
    text-align: right !important;
    padding-right: .7rem;
}
table, tbody, tr{
    border-collapse: separate; 
    border-spacing: 0rem .5rem;
}
td.not_right, th.not_right{
    padding: 0 15px;
}
tr{
    padding: .2rem 0;
}
._userlink{
    color: #2563eb;
    text-decoration: none;
    font-weight: 500;
    padding: 0 4px;
    border-radius: 4px;
}
._userlink:hover{
    background-color: #292b2f8d;
}
.profile_split,._profileinfinner{
    display: flex;
    align-items: center;
}
.profile_split{
    justify-content: center;
    column-gap: 5rem;
}
.home_{
    height: 78px !important;
    margin-right: 1rem;
}
.pscfix{
    border: 2px solid #292b2f6a;
    background-color: #1c1d206a;
    backdrop-filter: blur(8px);
    padding: 1rem 2rem;
    border-radius: 16px;
    margin-top: 3rem;
    margin-bottom: 3.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}
.userlink_ds:hover .ac__go{
    transform: translateX(7px);
}
.user_default_skinimg.home_{
    transition: .3s ease;
}
.userlink_ds:hover{
    background-color: #747a8866;
    box-shadow: 2px 2px 20px rgb(0 0 0 / 9%);
}
.userlink_ds{
    all: inherit;
    cursor: pointer;
    transition: .25s ease;
    padding: 0.1rem 1rem;
    border-radius: 10px;
}
svg.ac__go{
    width: 24px;
    margin-left: 1rem;
    fill: #fff;
    transition: .3s ease;
}
.flicon,.__userhmskin{
    display: flex;
}
.__buttonset{
    display: flex;
    column-gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
.cnvsvg{
    fill: currentColor;
    opacity: .7;
}
.h37{
    height: 37px;
}
.__buttonset .noscale{
    border: 2px solid #494c5524;
}
.__buttonset .link_call{
    display: inline;
}