.imprintReset .wstop{
    margin-top: 7rem;
}
.imprintReset a.imprintLink, .terms____________csa a{
    color: #2563eb;
    text-decoration: 2px underline currentColor;
}
.imprintReset a:hover.imprintLink, .terms____________csa a:hover{
    text-decoration: none;
}
.imprintReset .wstop{
    border-bottom: 3px solid #2f3031;
    padding-bottom: 1rem;
}
.imprintReset .btn, .wws.btn{
    background-color: #494949;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 3px;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.imprintReset .btn:hover, .wws.btn:hover{
    background-color: #323232;
}
.imprintReset{
    margin: 0 2rem;
}
.imprintReset h2{
    margin: .6rem 0;
}
.imprintReset hr{
    margin: 1.3rem 0;
}
a.imprintLink{
    margin: .4rem 0;
    display: inline-block;
}
.imprintReset a.imprintLink:hover{
    text-decoration: none;
}
.imprintReset h1{
    margin: 1rem 0;
}
.search__container{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    align-items: center;
    margin-top: 6rem;
}
.rt__default_input{
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 4px 10px;
    border-radius: 3px;
    border: 3px solid transparent;
    outline-offset: 1px;
    transition: .22s linear;
    font-weight: 500;
    font-family: inherit;
}
.rt__default_input:hover{
    background-color: #eee;
}
.rt__default_input:focus{
    opacity: 1;
    background-color: #c9c9c9;
    outline: none;
    /* outline: 3px  #2563eb solid; */
}


.user_default_skinimg{
    height: 100px; /* -> set default */
}
.centerContainer__stat{
    margin-top: 11rem;
}
.search__container{
    position: fixed;
    backdrop-filter: blur(8px);
    top: .5rem;
    left: 50%;
    transform: translateX(-50%);
}
.skin_changeIMG{
    cursor: pointer; /* b */
    transition: .3s ease;
    border-radius: 8px;
    padding: 5px;
    position: relative;
    user-select: none;
}
.skin_changeIMG:hover{
    background-color: #2e2e32;
    box-shadow: 2px 2px 20px rgb(0 0 0 / 5%);
}
.skin_changeIMG:hover::after{
    content: 'Select this skin';
    display: block;
    position: absolute;

}
.skin_div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin: .8rem 1.2rem;
}

.cf__imgc__flxc{
    position: relative;
}
.user_pfd_container{
    border: 2px solid #292b2f6a; /* narrow + center + background */
    width: 75%;
    background-color: #1c1d206a;
    backdrop-filter: blur(8px);
    border-radius: 16px;
}
.user_pfd_container{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}
.user__skincontainer{
    display: flex;
    position: relative;
}
.cs_profilebtn{
    position: absolute;
    right: 0;
    bottom: 0;
}
.cs_profilebtn{
    background-color: #292b2f6a;
    backdrop-filter: blur(5px);
    border-radius: 50%;
    padding: 4px;
}
.cpos{
    position: relative;
}
.extended_tooltip{
    display: inline-block;
    width: max-content;
    height: fit-content;
    padding: 0px 8px;
    border-radius: 3px;
    position: absolute;
    font-size: 12px;
    color: #fff;
    background-color: #494949;
    pointer-events: none;
    transition: .3s ease, inset 0s;
    top: -2.4rem;
    opacity: 1;
    right: -50%;
}
.extended_tooltip.down{
    bottom: -2.1rem !important;
}
.shareprofilebtn{
    background-color: #494949;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 3px;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
}
.shareprofilebtn:hover{
    background-color: #323232;
}
.shareprofilebtn::after{
    display: inline-block;
    width: max-content;
    height: fit-content;
    padding: 0px 8px;
    border-radius: 3px;
    position: absolute;
    font-size: 12px;
    color: #fff;
    background-color: #494949;
    pointer-events: none;
    transition: .3s ease, inset 0s;
    top: -2rem;
    transform: translateX(50%);
    opacity: 0;
    content: 'Share this profile';
    left: -100px;
}
.shareprofilebtn:hover::after{
    opacity: 1;
}
.cs_profilebtn::after{
    display: inline-block;
    width: max-content;
    height: fit-content;
    padding: 0px 8px;
    border-radius: 3px;
    position: absolute;
    font-size: 12px;
    color: #fff;
    background-color: #494949;
    pointer-events: none;
    transition: .3s ease, inset 0s;
    top: -1.8rem;
    transform: translateX(50%);
    opacity: 0;
}
.cpp_fg::after{
    content: 'Change Skin';
    left: -79px;
}
.cpp_cl::after{
    content: 'Close';
    left: -37px;
}
.cs_profilebtn:hover::after{
    opacity: 1;
}
.csbi{
    height: 18px;
    width: 18px;
    fill: currentColor;
}
.selector_container{
    position: fixed;
    background-color: #292b2fdf;
    backdrop-filter: blur(8px);
    border-radius: 12px;
    transform: translateY(10px);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2001;
}
.cscontent{
    margin: 0 1.2rem;
    margin-bottom: .9rem;
    list-style: disc;
    margin-left: 2.5rem;
}
.cscontent li{
    font-size: 13px;
}
.wshinttext{
    font-size: 15px;
    margin: 0 1.2rem;
}
.skin_div{
    margin-bottom: .6rem;
    max-width: 29rem;
    margin-top: 0;
    max-height: 40vh;
    overflow-y: scroll;
    overflow-scrolling: touch;
    border-radius: 10px;
    background:
        linear-gradient(#27292d 30%,rgba(255, 255, 255, 0)) center top,
        linear-gradient(rgba(255, 255, 255, 0), #27292d 70%) center bottom,
        radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0)) center top,
        radial-gradient(farthest-side at 50% 100%,rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0)) center bottom;
    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    background-attachment: local, local, scroll, scroll;
  
}
.skin_div::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
.skin_div::-webkit-scrollbar-track {
    background: transparent;
}
.skin_div::-webkit-scrollbar-thumb {
    background: #494949;
    border-radius: 25rem;
}
.skin_div::-webkit-scrollbar-thumb:hover {
    background: #323232;
}

.modalCallerHeader{
    margin: 1.2rem 2rem;
}
.close_container{
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.centerContainer__stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.uoc_wbd{
    outline: 2px solid #292b2f6a;
}
.cookie__modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2002;
    background-color: #1c1d20f3;
    border: 2px solid #292b2f6a;
    padding: 1rem 1.8rem;
    border-radius: 16px;
}
.cookies__header{
    font-size: 28px;
    margin-bottom: .4rem;
}
.textcontent{
    max-width: 500px;
}
.cmd_link{
    color: #2563eb;
    text-decoration: 2px underline;
    font-weight: bold;
}
.cmd_link:hover{
    text-decoration: none;
}
.cmdtxt{
    margin: .4rem 0;
}
._c_buttonset{
    display: inline-flex;
    column-gap: 1rem;
    align-items: center;
    justify-content: flex-start;
}
._c_buttonset{
    margin: .6rem 0;
}
.c_stats h3{
    font-size: 32px;
    margin-bottom: .5rem;
}
.c_stats h3::after{
    content: '';
    display: inline-block;
}
.c_stats{
    width: 75%;
    padding: 1.5rem 2rem;
}
.sttsvg{
    height: 40px;
    margin-right: 1rem;
    vertical-align: baseline;
}
.stat_giver{
    font-size: 18px;
    font-weight: 400;
    width: 170px;
    display: inline-block;
    margin-right: .6rem;
}
.stat_reader{
    font-size: 20px;
    font-weight: 500;
    width: 170px;
    display: inline-block;
    text-align: right;
}
.c_stats div{
    margin-bottom: .2rem;
}
.fa-secondary{
    fill: #2564ebc6;
}
.fa-primary{
    fill: #ccc;
}
.search__container{
    z-index: 999;
}
.pfm{
    min-height: calc(100vh - 11rem - (2*30px)) !important;
}
.infopopup{
    position: fixed;
    bottom: 3.5rem;
    right: 1.8rem;
    color: #71c562;
    background-color: #71c5622a;
    /* border: 2px solid #71c562; */
    /* color: #fff;
    background-color: #1c1d206a; */
    backdrop-filter: blur(6px);
    width: 20rem;
    display: inline-flex;
    justify-content: flex-start;
    padding: .8rem 1rem;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 500;
    z-index: 1500;
}
.sndficon{
    position: absolute;
    right: 1.2rem;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
    fill: currentColor;
}
.rt_navigation{
    z-index: 1600;
}
.user_pfd_container{
    padding: 0 0.5rem;
}

.user_origincounty::after{
    content: 'test';
    display: inline-block;
    width: max-content;
    height: fit-content;
    padding: 0px 8px;
    border-radius: 3px;
    position: absolute;
    font-size: 12px;
    color: #fff;
    background-color: #494949;
    pointer-events: none;
    transition: .3s ease, inset 0s;
    top: -1.8rem;
    transform: translateX(50%);
    opacity: 0;
}
.user_origincounty:hover::after{
    opacity: 1;
}
.user_origincounty{
    position: relative;
}
.auth_form{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #1c1d206a;
    backdrop-filter: blur(8px);
    border-radius: 16px;
    padding: 1.4rem 2rem;
    border: 2px solid #292b2f6a;
}
.footerfix{
    height: calc(100vh - (2*30px));
}
.h4_gr{
    text-align: center;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid #292b2f6a;
}
.lgh{
    font-size: 36px;
}
input.mwdt{
    min-width: 340px;
    margin-bottom: 1rem;
}
.css-b62m3t-container{
    margin-bottom: 1rem;
    color: #000;
    max-width: 340px;
}
.authform{
    margin: 1rem 0 .4rem 0;
}
.authwidth{
    width: 55%;
    text-align: center;
    justify-content: center;
    padding-top: .35rem;
    padding-bottom: .35rem;
    font-size: 18px;
    border-radius: 5px;
}
.authbtncontainer{
    display: flex;
    justify-content: center;
    margin-top: .8rem;
}
.cserror{
    text-align: center;
    transform: translateY(10px);
    color: #ff3333;
    font-weight: 500;
    max-width: 340px;
}
.cssuccess{
    text-align: center;
    transform: translateY(10px);
    color: #007f00;
    font-weight: 500;
    max-width: 340px;
}
.fgp,.sgup{
    text-align: center;
}
.fgp a,.sgup a{
    color: #2563eb;
    text-decoration: 2px solid underline;
}
.fgp a:hover,.sgup a:hover{
    text-decoration: none;
}
.hint__container{
    margin-top: 1.2rem;
}
label{
    display: block;
    margin-bottom: 4px;
}
._frg_founders{
    height: 240px;
    border-radius: 20px;
    box-shadow: 2px 2px 20px rgb(0 0 0 / 10%);
    transition: .3s ease;
}
.abt_{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 6.2rem;
}
.dsf_x{
    display: inline-flex;
}
.__dmf_btst{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.4rem;
    margin-top: 3.5rem;
}
.share__modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2010;
}
.csvg{
    height: 22px;
    width: 22px;
    fill: white;
}
.close-modal-button{
    background-color: #292b2f6a;
    backdrop-filter: blur(8px);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
}
.close-modal-button:hover{
    background-color: #393b3cbe;
}
.__btnscontainer{
    margin: 1.2rem 2rem;
    display: flex;
    row-gap: .8rem;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.kpbb{
    margin-right: 4rem;
}
.refwidth{
    max-width: max-content;
}
.btbsvg{
    height: 16px;
    padding-bottom: 2px;
    margin-left: 2px;
    fill: currentcolor;
}
.nhg{
    height: 20px;
    margin-right: 5px;
    margin-left: 0;
}
.twbtn{
    background-color: #1DA1F2 !important;
}
.twbtn:hover{
    background-color: #1774ad !important;
}
.wabtn{
    background-color: #25D366 !important;
}
.wabtn:hover{
    background-color: #1da950 !important;
}
.authmain:where(:not(div,h1,h2,h3,h4,input,button,span,p,label)){
    all: initial;
}
.inlinebutton{
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    color: #2563eb;
    display: inline-block;
}
.inlinebutton:hover{
    background-color: #2e2e32;
}
.__account__container{
    width: 70%;
    margin: auto auto;
    border: 2px solid #292b2f6a;
    background-color: #1c1d206a;
    backdrop-filter: blur(8px);
    padding: 1rem 2rem;
    border-radius: 16px;
}
.csac{
    font-size: 32px;
    font-weight: 600;
}
.monospace__important{
    font-family: monospace;
    font-size: 22px;
}
._sgchar{
    /* background-color: red; */
    padding: 2px .2px;
    margin: 0;
    border-radius: 2px;
    user-select: none;
    font-size: 26px;
}
._sgchar__space{
    padding: 2px 0 !important;
}
.cfw_textcontainer{
    border: 2px solid #292b2f6a;
    background-color: #1c1d206a;
    backdrop-filter: blur(8px);
    padding: 1rem 2rem;
    border-radius: 16px;
    width: 80%;
    margin: 0 auto !important;
}
.__nbflex{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    column-gap: 1rem;
    margin-bottom: 1.4rem;
}
.__nbflex .mwdt{
    margin-bottom: 0 ;
}
.__info_singlecontainer .cshandler, .__info_singlecontainer h3{
    font-weight: 500;
}
.default_PGBAR{
    width: calc(100% - (2*50px));
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAB4IAAAALCAAAAAC/7B+yAAAAIGNIUk0AAHomAACAhAAA+gAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAAACdFJOUwAAdpPNOAAAAAJiS0dEAP+Hj8y/AAAACXBIWXMAABG3AAARtwGaY1MrAAAAB3RJTUUH5wYPEjcHAXcm5QAAAAFvck5UAc+id5oAAADvSURBVHja7dhBEsIgEETR3NH738WF5VIkDsN8nP/2JN1AoCrXQ5KOdn0SGDozWHq5u4ncZpL+hlewagWuYEnqaXAcelJKkpTHK1iSpCq//FyUJElhXsE6G3O7EjPtbt+3/8noa8dON5uf1oCYaXf7vv2DmNNHzLS7fd/+J6OvHTvdbH5aA2Km3e379i8Vn/jYeOayr9+Oc8/b/yHUfHrZb30/e/SWnAzsw+x7Lm72Vfk8r9b17HJepVeKPqFudBa39Nlv9Qoez8s4f3XK3HyeV+t6djmvDkeZMEqOrHb0fnfz+bGpAmXPUXJkteP0ewIgUCNUwpUIoQAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMy0wNi0xNVQxODo1NDo0NyswMDowMKua2KMAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjMtMDYtMTVUMTg6NTQ6NDcrMDA6MDDax2AfAAAAKHRFWHRkYXRlOnRpbWVzdGFtcAAyMDIzLTA2LTE1VDE4OjU1OjA3KzAwOjAw5lokBAAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 7rem auto 2rem !important;
    width: 80%;
}
.__quote{
    display: flex;
    align-items: center;
}
.__quotetext_{
    font-size: 40px;
    font-weight: 600;
}
.__percentdisplay{
    font-size: 16px;
    font-weight: 500;
}
.__namedisplay{
    font-size: 15px;
    font-weight: 500;
}
.wnc{
    max-width: max-content;
    align-items: center;
    justify-content: flex-start;
    /* transform: translateX(-100%); */
    /* opacity: .01; */
}
.wnc{
    display: flex;
    justify-content: space-between;
    width: max-content !important;
    flex-direction: row-reverse;
}
.abt_{
    margin-top: 6.8rem;
}
.about__ht{
    background: hsla(190, 84%, 31%, 1);
    background: linear-gradient(45deg, hsla(190, 84%, 31%, 1) 0%, hsla(221, 83%, 53%, 1) 50%, hsla(245, 50%, 42%, 1) 100%);
    width: fit-content;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 38px;
}
.about__ht{
    margin-bottom: 1.4rem;
}
.__quotetext_continer{
    width: calc(80% - 227px);
    text-align: center;
}
._qs3{
    width: calc(100% - 227px);
}
.__quotetext_continer small{
    margin-bottom: 2rem;
    display: inline-block;
}
.__quotetext_{
    font-style: italic;
    position: relative;
}
.__wkk{
    position: relative;
}
.__wkk::before{
    content: '';
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBkPSJNMCAyMTZDMCAxNDkuNyA1My43IDk2IDEyMCA5Nmg4YzE3LjcgMCAzMiAxNC4zIDMyIDMycy0xNC4zIDMyLTMyIDMyaC04Yy0zMC45IDAtNTYgMjUuMS01NiA1NnY4aDY0YzM1LjMgMCA2NCAyOC43IDY0IDY0djY0YzAgMzUuMy0yOC43IDY0LTY0IDY0SDY0Yy0zNS4zIDAtNjQtMjguNy02NC02NFYzMjAgMjg4IDIxNnptMjU2IDBjMC02Ni4zIDUzLjctMTIwIDEyMC0xMjBoOGMxNy43IDAgMzIgMTQuMyAzMiAzMnMtMTQuMyAzMi0zMiAzMmgtOGMtMzAuOSAwLTU2IDI1LjEtNTYgNTZ2OGg2NGMzNS4zIDAgNjQgMjguNyA2NCA2NHY2NGMwIDM1LjMtMjguNyA2NC02NCA2NEgzMjBjLTM1LjMgMC02NC0yOC43LTY0LTY0VjMyMCAyODggMjE2eiIvPjwvc3ZnPg==");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    display: block;
    position: absolute;
    filter: invert(1);
    position: absolute;
    left: -62px;
    opacity: .8;
    transform: translateY(-8px);
}
.__wkk::after{
    content: '';
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48IS0tISBGb250IEF3ZXNvbWUgUHJvIDYuNC4wIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlIChDb21tZXJjaWFsIExpY2Vuc2UpIENvcHlyaWdodCAyMDIzIEZvbnRpY29ucywgSW5jLiAtLT48cGF0aCBkPSJNNDQ4IDI5NmMwIDY2LjMtNTMuNyAxMjAtMTIwIDEyMGgtOGMtMTcuNyAwLTMyLTE0LjMtMzItMzJzMTQuMy0zMiAzMi0zMmg4YzMwLjkgMCA1Ni0yNS4xIDU2LTU2di04SDMyMGMtMzUuMyAwLTY0LTI4LjctNjQtNjRWMTYwYzAtMzUuMyAyOC43LTY0IDY0LTY0aDY0YzM1LjMgMCA2NCAyOC43IDY0IDY0djMyIDMyIDcyem0tMjU2IDBjMCA2Ni4zLTUzLjcgMTIwLTEyMCAxMjBINjRjLTE3LjcgMC0zMi0xNC4zLTMyLTMyczE0LjMtMzIgMzItMzJoOGMzMC45IDAgNTYtMjUuMSA1Ni01NnYtOEg2NGMtMzUuMyAwLTY0LTI4LjctNjQtNjRWMTYwYzAtMzUuMyAyOC43LTY0IDY0LTY0aDY0YzM1LjMgMCA2NCAyOC43IDY0IDY0djMyIDMyIDcyeiIvPjwvc3ZnPg==");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    display: block;
    position: absolute;
    filter: invert(1);
    position: absolute;
    right: -52px;
    opacity: .8;
    transform: translateY(-34px);
}
.__wkk.rdefault::after{
    right: -62px;
}
.emoji{
    font-style: normal;
}
.ucv{
    margin-top: 3rem;
}
.__dcflexcontent{
    display: flex;
    justify-content: flex-start;
    column-gap: 3rem;
}
.displayreal{
    width: auto;
}
.about__text{
    max-width: 60%;
}
.ucv h2, .ucvdd h3{
    margin-bottom: 1rem;
    position: relative;
    width: max-content;
}
.shopheader{
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 38px; 
}
.ucv h2::after, .ucvdd h3::after, .shopheader::after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 3.4px;
    display: inline-block;
    background: linear-gradient(45deg, hsla(190, 84%, 31%, 1) 0%, hsla(221, 83%, 53%, 1) 50%, hsla(245, 50%, 42%, 1) 100%);
}
.shopheader::after{
    transform: translateY(-10px);
}
._frg_founders:hover{
    box-shadow: 2px 2px 20px rgb(0 0 0 / 20%);
    transform: scale(1.005);
}
.ucvdd{
    margin-top: 1.8rem;
    margin-left: 1rem;
}
a.c{
    color: #2563eb;
    text-decoration: 2px solid underline;
}
a.c:hover{
    text-decoration: none;
}
.__dcflexcontent{
    width: 100%;
}
.__ffcmemecontainer{
    width: inherit;
}
.flipimg_1,.flipimg_2{
    display: inline-flex;
    position: absolute;
    width: 100%;
    height: 100%;
}
.flipimg_1{
    z-index: 5;
}
.flipimg_2{
    transform: rotateY(180deg);
    z-index: 4;
}
._frg_founders{
    height: 240px !important;
    width: 220px;
    object-fit: cover;
}
figure.__fndimg:hover .flipimages{
    transform: rotateY(180deg);
}
figure.__fndimg{
    perspective: 800px;
    width: 215px;
    height: 240px;
}
.flipimages{
    position: relative;
    height: 100%;
    width: 100%;
    width: auto;
    transition: transform .6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
@media screen and (max-width: 750px) {
    .src_logo{
        height: 46px;
    }
}
.comwidth{
    width: max-content;
}
.shopimagedisplay{
    height: 120px;
    background-color: transparent;
    border-radius: 16px;
    pointer-events: none;
    /* backdrop-filter: blur(10px) opacity(60%); */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 0;
}
.glowLayerassist{
    width: 100%;
    height: 160px;
    position: absolute;
    left: 0;
    top: 0;
    backdrop-filter: blur(10px) opacity(70%);
    background-color: transparent;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transform: translateY(-20px);
}
.contentdisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mask_contentparent{
    background-repeat: no-repeat;
    background-position: center;
    backface-visibility: hidden;
    /* display: inline-flex; */
    background-size: 22%;
    width: 100%;
    height: 120px;
    border-radius: 16px;
    overflow: visible;
    position: relative;
}
.conftext{
    margin: 1.2rem 2rem;
    max-width: max-content;
}
.copconfirmset{
    margin: 0 2rem;
    margin-bottom: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.copconfirmset button{
    width: 75%;
    text-align: center;
    justify-content: center;
    font-size: 105%;
    border-radius: 20rem;
    user-select: none;
}
.shopitemcontai{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    margin: 1rem ;
    flex: 1;
}
.shopsingleitem{
    max-width: 200px;
    min-width: 200px;
    background-color: #27292d;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    transition: .2s ease;
    position: relative;
}
.shopsingleitem:hover{
    transform: scale(1.05);
    background-color: #2a2c31;
}
.imagecontainer{
    display: flex;
    justify-content: center;
    border: 3px solid #37373c;
    border-radius: 10px;
}
.skin_namecaller{
    font-size: 19px;
    font-weight: 500;
}
.textcontainer{
    margin-top: .7rem;
    margin-left: 4px;
}
.itemdescriptioncontainer{
    margin-left: 4px;
}
.itemdsc{
    font-size: 15px;
    color: #ffffff9f;
}
.itemprice{
    position: absolute;
    right: 18px;
    top: 12px;
    font-size: 18px;
    font-weight: 500;
    opacity: 0;
    user-select: none;
    transition: .3s ease;
    color: #ffffffc6;
}
.shopsingleitem:hover .itemprice{
    opacity: 1;
}
.skin_namecaller, .itemdsc{
    width: calc(100% - 30px);
}
.contentflex{
    display: grid;
    place-items: center;

}
.glowimg{
    pointer-events: none;
}
.loader{
    color: transparent;
    user-select: none;
    width: 58px;
    height: 58px;
    display: block;
    text-align: center;
    border: 6px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: rotateBig 1.6s infinite forwards;
}
.cfl{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
@keyframes rotateBig {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(358deg);
    }
}
.centerboughtitem{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.boughtimg{
    height: 140px;
    margin-bottom: .5rem;
    width: 140px;
}
.successtext{
    margin-top: 1.8rem;
}
.content_as_racecontent.global___overlay{
    background-color: #0000000a;
    backdrop-filter: blur(1.4px);
    z-index: 1000;
}
.__completemodal{
    display: block;
    z-index: 1005;
    position: absolute;
    background-color: #292b2f82;
    backdrop-filter: blur(8px);
    padding: 2rem 2.4rem;
    border-radius: 16px;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
}
.WFOP{
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}
.uw_attentioncolorbtn{
    color: #fb8500;
    position: absolute;
    top: 6rem;
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
}
.uw_attentioncolorbtn::before{
    content: '';
    background-size: contain;
    background-size: 100%;
    height: 22px;
    width: 22px;
    margin-right: 3px;
    display: inline-block;
    transform: translateY(4.5px);
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTk2MCA5NjAgOTYwIiBmaWxsPSIjZmI4NTAwIj48cGF0aCBkPSJtNDAtMTIwIDQ0MC03NjAgNDQwIDc2MEg0MFptMTA0LTYwaDY3Mkw0ODAtNzYwIDE0NC0xODBabTM0MC4xNzUtNTdxMTIuODI1IDAgMjEuMzI1LTguNjc1IDguNS04LjY3NiA4LjUtMjEuNSAwLTEyLjgyNS04LjY3NS0yMS4zMjUtOC42NzYtOC41LTIxLjUtOC41LTEyLjgyNSAwLTIxLjMyNSA4LjY3NS04LjUgOC42NzYtOC41IDIxLjUgMCAxMi44MjUgOC42NzUgMjEuMzI1IDguNjc2IDguNSAyMS41IDguNVpNNDU0LTM0OGg2MHYtMjI0aC02MHYyMjRabTI2LTEyMloiLz48L3N2Zz4=");
}
.usergame__comtop{
    margin-top: 6rem;
    min-height: calc(100vh - 9.8rem);
}
.muterswitch::after{
    content: attr(data-mutetool);
    left: -.5rem;
    transform: translateX(-0%);
    bottom: -1.9rem !important;
    top: auto;
}
.cupimg{
    pointer-events: none;
    user-select: none;
}
.__namedisplay{
    background-color: #2f33397d;
    padding: 2px 7px;
    border-radius: 6px;
    position: absolute;
    top: -.7rem;
    left: 0;
}
.__percentdisplay{
    top: 50%;
    right: -10px;
    position: absolute;
    transform: translateY(-30%);
    font-size: 18px;
    font-weight: 500;
    color: #ffffffca;
    text-align: right;
    display: inline-block;
}
.rt__buttonset__inrace_actionsbtns{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1rem;
    margin: 5rem;
    margin-bottom: 2rem;
    margin-left: 3.4rem;
    margin-top: 0;
}
.fwsvg{
    height: 24px;
    width: 24px;
    fill: currentColor;
}
.muterswitch{
    padding: 6px;
}
.muterswitch{
    position: static;
}
.newleft::after{
    left: -70%;
}
.newtext::after{
    content: "New text";
    left: -45%;
}
.restart::after{
    content: "Restart";
    left: -30%;
}
.marginhelper{
    margin: 5rem 0;
    display: inline-block;
}
.disconnectSVG{
    height: 20px;
    width: 20px;
    fill: currentColor;
}
.disconnectHint{
    display: flex;
    align-items: center;
    column-gap: .4rem;
    color: #ff3333;
    width: max-content;
    font-weight: 500;
    position: absolute;
    left: 0;
    top: 10px;
}
.redcolorsvg{
    color: #ff3333;
}
.cfw_textcontainer{
    margin: 0 50px 0;
}
.authorS{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #ffffffc0;
}
a.wnc{
    color: #2563eb;
}
.default_PGBAR{
    margin-right: auto !important;
}
.spctopjoin{
    border-radius: 0 0 16px 16px;
    border-top: none;
    position: relative;
}
.cfw_textcontainer.bottomjoin{
    border-radius: 16px 16px 0 0;
}
.resultheading{
    font-size: 25px;
    margin-bottom: 0.5rem;
}
.doublemr{
    display: flex;
    justify-content: space-between;
}
.result__left,.leaderboard__right{
    width: 50%;
}
.leaderboard__right{
    border-left: 1px solid #292b2f6a;
    padding-left: 2rem;
}
.result__left{
    border-right: 1px solid #292b2f6a;
}
.stat_reader_race{
    font-size: 18px;
    font-weight: 500;
    width: 100px;
    display: inline-block;
    text-align: right;
}
.absolutebottom{
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    border-radius: 20rem;
    justify-content: center;
    margin: .4rem 0;
}
.hinttext{
    font-size: 14px;
    color: #ffffff8b;
}
.onHoverContainer{
    position: absolute;
    border-radius: 10px;
    background-color: #1f1f22;
    padding: .8rem 1.1rem;
    border: 2px solid #292b2f6a;
    width: max-content;
    left: -75%;
    bottom: -350%;
    z-index: 20000;
}
.onHoverContainer::before{
    content: '';
    background-color: #1f1f22;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -9.5px;
    right: 50%;
    transform: rotate(45deg);
    border: 2px solid #292b2f6a;
    z-index: 2;
    border-bottom: none;
    border-right: none;
}
.username_d{
    font-size: 18px;
    font-weight: 500;
}
.flxd34{
    vertical-align: middle;
    margin-left:8px;
}
.username_d{
    padding-bottom: 2px;
    border-bottom: 2px solid #292b2f6a;
    margin-bottom: 6px;
}
.small_caller{
    font-size: 15px;
    font-weight: 400;
    margin-right: .4px;
}
.small_namer{
    font-size: 16px;
    font-weight: 400;
}
.shareprofilebtn{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.cfw_textcontainer{
    user-select: none !important;
}
nav,footer,.__completemodal,.hinttext,.onHoverContainer,.default_PGBAR,.usergame__comtop{
    user-select: none;
}
.paypal4{
    user-select: none;
    clear: initial !important;
}
.underline__advanced{
    position: relative;   
}
.underline__advanced::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #1864bc;
}
.rt__default_input.textarea{
    resize: vertical;
    transition: .22s linear, height 0s ;
    min-width: 30%;
    min-height: 10rem;
}
.cos_center{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}
.dd_cflx{
    display: flex;
    margin-right: auto;
    margin-left: 9rem;
    font-size: 18px;
    color: #ffffffa7;
    transform: translateY(5px);
}
.sharebtn__c{
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}