.imprintReset .wstop{
    margin-top: 7rem;
}
.imprintReset a.imprintLink, .terms____________csa a{
    color: #04adad;
    text-decoration: 2px underline currentColor;
}
.imprintReset .wstop{
    border-bottom: 3px solid #2f3031;
    padding-bottom: 1rem;
}
.imprintReset .btn, .wws.btn{
    background-color: #494949;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 3px;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.imprintReset .btn:hover, .wws.btn:hover{
    background-color: #323232;
}
.imprintReset{
    margin: 0 2rem;
}
.imprintReset h2{
    margin: .6rem 0;
}
.imprintReset hr{
    margin: 1.3rem 0;
}
a.imprintLink{
    margin: .4rem 0;
    display: inline-block;
}
.imprintReset a.imprintLink:hover{
    text-decoration: none;
}
.imprintReset h1{
    margin: 1rem 0;
}
.search__container{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    align-items: center;
    margin-top: 6rem;
}
.rt__default_input{
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 4px 10px;
    border-radius: 3px;
    border: 3px solid transparent;
    outline-offset: 1px;
    transition: .22s linear;
    font-weight: 500;
    font-family: inherit;
}
.rt__default_input:hover{
    background-color: #eee;
}
.rt__default_input:focus{
    opacity: 1;
    background-color: #c9c9c9;
    outline: none;
    /* outline: 3px  #2563eb solid; */
}


.user_default_skinimg{
    height: 100px; /* -> set default */
}
.centerContainer__stat{
    margin-top: 11rem;
}
.search__container{
    position: fixed;
    backdrop-filter: blur(8px);
    top: .5rem;
    left: 50%;
    transform: translateX(-50%);
}
.skin_changeIMG{
    cursor: pointer; /* b */
    transition: .3s ease;
    border-radius: 8px;
    padding: 5px;
    position: relative;
    user-select: none;
}
.skin_changeIMG:hover{
    background-color: #2e2e32;
    box-shadow: 2px 2px 20px rgb(0 0 0 / 5%);
}
.skin_changeIMG:hover::after{
    content: 'Select this skin';
    display: block;
    position: absolute;

}
.skin_div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin: .8rem 1.2rem;
}

.cf__imgc__flxc{
    position: relative;
}
.user_pfd_container{
    border: 2px solid #292b2f6a; /* narrow + center + background */
    width: 75%;
    background-color: #1c1d206a;
    backdrop-filter: blur(8px);
    border-radius: 16px;
}
.user_pfd_container{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}
.user__skincontainer{
    display: flex;
    position: relative;
}
.cs_profilebtn{
    position: absolute;
    right: 0;
    bottom: 0;
}
.cs_profilebtn{
    background-color: #292b2f6a;
    backdrop-filter: blur(5px);
    border-radius: 50%;
    padding: 4px;
}
.cs_profilebtn::after{
    display: inline-block;
    width: max-content;
    height: fit-content;
    padding: 0px 8px;
    border-radius: 3px;
    position: absolute;
    font-size: 12px;
    color: #fff;
    background-color: #494949;
    pointer-events: none;
    transition: .3s ease, inset 0s;
    top: -1.8rem;
    transform: translateX(50%);
    opacity: 0;
}
.cpp_fg::after{
    content: 'Change Skin';
    left: -79px;
}
.cpp_cl::after{
    content: 'Close';
    left: -37px;
}
.cs_profilebtn:hover::after{
    opacity: 1;
}
.csbi{
    height: 18px;
    width: 18px;
    fill: currentColor;
}
.selector_container{
    position: fixed;
    background-color: #292b2fdf;
    backdrop-filter: blur(8px);
    border-radius: 12px;
    transform: translateY(10px);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2001;
}
.cscontent{
    margin: 0 1.2rem;
    margin-bottom: .9rem;
    list-style: disc;
    margin-left: 2.5rem;
}
.cscontent li{
    font-size: 13px;
}
.wshinttext{
    font-size: 15px;
    margin: 0 1.2rem;
}
.skin_div{
    margin-bottom: .6rem;
    max-width: 42.5rem;
    margin-top: 0;
}
.modalCallerHeader{
    margin: 1.2rem 2rem;
}
.close_container{
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.centerContainer__stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.uoc_wbd{
    outline: 2px solid #292b2f6a;
}
.cookie__modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2002;
    background-color: #1c1d20f3;
    border: 2px solid #292b2f6a;
    padding: 1rem 1.8rem;
    border-radius: 16px;
}
.cookies__header{
    font-size: 28px;
    margin-bottom: .4rem;
}
.textcontent{
    max-width: 500px;
}
.cmd_link{
    color: #2563eb;
    text-decoration: 2px underline;
    font-weight: bold;
}
.cmd_link:hover{
    text-decoration: none;
}
.cmdtxt{
    margin: .4rem 0;
}
._c_buttonset{
    display: inline-flex;
    column-gap: 1rem;
    align-items: center;
    justify-content: flex-start;
}
._c_buttonset{
    margin: .6rem 0;
}
.c_stats h3{
    font-size: 32px;
    margin-bottom: .5rem;
}
.c_stats h3::after{
    content: '';
    display: inline-block;
}
.c_stats{
    width: 75%;
    padding: 1.5rem 2rem;
}
.sttsvg{
    height: 40px;
    margin-right: 1rem;
    vertical-align: baseline;
}
.stat_giver{
    font-size: 18px;
    font-weight: 400;
    width: 170px;
    display: inline-block;
    margin-right: .6rem;
}
.stat_reader{
    font-size: 20px;
    font-weight: 500;
    width: 170px;
    display: inline-block;
    text-align: right;
}
.c_stats div{
    margin-bottom: .2rem;
}
.fa-secondary{
    fill: #2564ebc6;
}
.fa-primary{
    fill: #ccc;
}
.search__container{
    z-index: 999;
}
.pfm{
    min-height: calc(100vh - 11rem - (2*30px)) !important;
}
.infopopup{
    position: fixed;
    bottom: 3.5rem;
    right: 1.8rem;
    color: #71c562;
    background-color: #71c5622a;
    /* border: 2px solid #71c562; */
    /* color: #fff;
    background-color: #1c1d206a; */
    backdrop-filter: blur(6px);
    width: 20rem;
    display: inline-flex;
    justify-content: flex-start;
    padding: .8rem 1rem;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 500;
    z-index: 1500;
}
.sndficon{
    position: absolute;
    right: 1.2rem;
    height: 24px;
    top: 50%;
    transform: translateY(-50%);
    fill: currentColor;
}
.rt_navigation{
    z-index: 1600;
}
.user_pfd_container{
    padding: 0 0.5rem;
}

.user_origincounty::after{
    content: 'test';
    display: inline-block;
    width: max-content;
    height: fit-content;
    padding: 0px 8px;
    border-radius: 3px;
    position: absolute;
    font-size: 12px;
    color: #fff;
    background-color: #494949;
    pointer-events: none;
    transition: .3s ease, inset 0s;
    top: -1.8rem;
    transform: translateX(50%);
    opacity: 0;
}
.user_origincounty:hover::after{
    opacity: 1;
}
.user_origincounty{
    position: relative;
}
.auth_form{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #1c1d206a;
    backdrop-filter: blur(8px);
    border-radius: 16px;
    padding: 1.4rem 2rem;
    border: 2px solid #292b2f6a;
}
.footerfix{
    height: calc(100vh - (2*30px));
}
.h4_gr{
    text-align: center;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid #292b2f6a;
}
.lgh{
    font-size: 36px;
}
input.mwdt{
    min-width: 340px;
    margin-bottom: 1rem;
}
.css-b62m3t-container{
    margin-bottom: 1rem;
    color: #000;
    max-width: 340px;
}
.authform{
    margin: 1rem 0 .4rem 0;
}
.authwidth{
    width: 55%;
    text-align: center;
    justify-content: center;
    padding-top: .35rem;
    padding-bottom: .35rem;
    font-size: 18px;
    border-radius: 5px;
}
.authbtncontainer{
    display: flex;
    justify-content: center;
    margin-top: .8rem;
}
.cserror{
    text-align: center;
    transform: translateY(10px);
    color: #ff3333;
    font-weight: 500;
    max-width: 340px;
}
.cssuccess{
    text-align: center;
    transform: translateY(10px);
    color: #007f00;
    font-weight: 500;
    max-width: 340px;
}
.fgp,.sgup{
    text-align: center;
}
.fgp a,.sgup a{
    color: #2563eb;
    text-decoration: 2px solid underline;
}
.fgp a:hover,.sgup a:hover{
    text-decoration: none;
}
.hint__container{
    margin-top: 1.2rem;
}
label{
    display: block;
    margin-bottom: 4px;
}
._frg_founders{
    height: 260px;
    border-radius: 20px;
    box-shadow: 2px 2px 20px rgb(0 0 0 / 10%);
}
.abt_{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 6.2rem;
}
.dsf_x{
    display: inline-flex;
}
.__dmf_btst{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.4rem;
    margin-top: 3.5rem;
}
.share__modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2010;
}
.csvg{
    height: 22px;
    width: 22px;
    fill: white;
}
.close-modal-button{
    background-color: #292b2f6a;
    backdrop-filter: blur(8px);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
}
.close-modal-button:hover{
    background-color: #393b3cbe;
}
.__btnscontainer{
    margin: 1.2rem 2rem;
    display: flex;
    row-gap: .8rem;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.kpbb{
    margin-right: 4rem;
}
.refwidth{
    max-width: max-content;
}
.btbsvg{
    height: 16px;
    padding-bottom: 2px;
    margin-left: 2px;
    fill: currentcolor;
}
.nhg{
    height: 20px;
    margin-right: 5px;
    margin-left: 0;
}
.twbtn{
    background-color: #1DA1F2 !important;
}
.twbtn:hover{
    background-color: #1774ad !important;
}
.wabtn{
    background-color: #25D366 !important;
}
.wabtn:hover{
    background-color: #1da950 !important;
}
.authmain:where(:not(div,h1,h2,h3,h4,input,button,span,p,label)){
    all: initial;
}
.inlinebutton{
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    color: #2563eb;
    display: inline-block;
}
.inlinebutton:hover{
    background-color: #2e2e32;
}
.__account__container{
    width: 60%;
    margin: auto auto;
    border: 2px solid #292b2f6a;
    background-color: #1c1d206a;
    backdrop-filter: blur(8px);
    padding: 1rem 2rem;
    border-radius: 16px;
}
.csac{
    font-size: 32px;
    font-weight: 600;
}
.monospace__important{
    font-family: monospace;
    font-size: 22px;
}
._sgchar{
    /* background-color: red; */
    padding: 2px .2px;
    margin: 0;
    border-radius: 2px;
    margin: 1px;
    background-color: #747a8866;
    user-select: none;
}
._sgchar__space{
    margin: 1px !important;
    padding: 2px 0 !important;
}